<!-- みんなのレシピ -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>みんなのレシピ</h1>


    <div class="basic-box">
    	<div class=" clearfix">
    	<h3><span class="label label-default">料理のジャンルを選択してください</span></h3>
       </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/chickens.jpg',  class: 'user-menu-image'), everyone_meat_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～お肉系のおかず～', everyone_meat_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/docked-yacht-yellow-chain-1.jpg',  class: 'user-menu-image'), everyone_fish_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～魚介系のおかず～', everyone_fish_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/isorepublic-carrot-cucumber-1.jpg',  class: 'user-menu-image'), everyone_vegetable_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～野菜系のおかず～', everyone_vegetable_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/isorepublic-spaghetti-sauce-1.jpg',  class: 'user-menu-image'), everyone_noodle_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～麺類～', everyone_noodle_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/easter-eggs-bowl.jpg',  class: 'user-menu-image'), everyone_rice_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～ご飯もの～', everyone_rice_path %></b></u></span>
        </div>
                <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/isorepublic-pumpkin-soup-bowl-1.jpg',  class: 'user-menu-image'), everyone_soup_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '～汁物～', everyone_soup_path %></b></u></span>
        </div>
        <div class=" clearfix"></div>
    </div>
</main>

</div>
</div>
</div>