<!-- みんなのレシピ(ジャンル別） -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>みんなのレシピ(ジャンル別)</h1>


    <div class="basic-box">
	<h3><span class="label label-default">～野菜系のおかず～</span></h3>

                <% @everyone.each do |m| %>
                <div class="my_recipe-box clearfix">
    	    		<div class="my_recipe-box-left">
			    		<div class="my_recipe-image">
			    			<%= link_to(my_recipe_path(m.id)) do %>
			    			<p><%= attachment_image_tag m, :cooking_image, fallback: "no_image.png", class: "my_recipe-image" %></p>
			    			<% end %>
			    			<p><u><b><%= link_to m.user.nickname, user_path(m.user_id) %></b></u></p>
				    		<p><%= link_to 'このレシピの作り方を見る', my_recipe_path(m.id), class: 'btn btn-primary' %></p>
			    		</div><br>
			    	</div>
			    	<div class="my_recipe-box-right">
			    		<p><span><u><b><%= link_to m.cooking_name, my_recipe_path(m.id) %></b></u></span>
			    		<span><%= m.genre.genre_name %></span></p>
			    		<p><%= m.cooking_explanation %></p><br>
			    		<% if m.publishment == true %>
			    	      <p class="flash-notice">※このレシピは公開されています</p>
			    	    <% else %>
			    	      <p class="flash-warning">※このレシピは非公開です</p>
			    	    <% end %>
			    	</div>
			    </div>
                <% end %>

            <div class="paginate">
                <%= paginate @pages, class: "paginate" %>
            </div>

	<div class="">
        <%= link_to 'ジャンルの選択へ戻る', :back, class: 'btn btn-default btn-lg' %>
    </div><br>
    </div>
</main>

</div>
</div>
</div>