<!-- カリキュラムの目次 -->


<main class="login-time-box">
<h1>カリキュラムの目次</h1>

    <div class="basic-box">
	        <table class="table ">
				<!-- カリキュラムの章の表示 -->
        		<% @pages.each do |u| %>
                <thead>
                    <tr>
                        <th>
                        	<!-- 章の名前を表示 -->
                        	第<%= u.chapter_number %>章 <%= u.chapter_title %>
                        </th>
                    </tr>
                </thead>
					<!-- カリキュラムの節の表示 -->
					<% u.sections.each do |s| %>
     				<tbody>
                        <td>
                        	<!-- 節の名前を表示 -->
                        	<%= link_to section_path(s.id) do %>
                        	第<%= s.section_number %>節 <%= s.section_title %>
                        	<% end %>
                        </td>
	                </tbody>
                        <!-- カリキュラムの課題の表示 -->
                        <% s.tasks.each do |t| %>
                        <tbody>
                            <td>
                                <!-- 課題の名前を表示 -->
                                <%= link_to task_path(t.id) do %>
                                <span>　課題<%= t.task_number %>.<%= t.task_title %></span>
                                <% end %>
                            </td>
                        </tbody>
                        <% end %>
	                <% end %>
                <% end %>
            </table>
            <div class="paginate">
                <%= paginate @pages, class: "paginate" %>
            </div>
    </div>
</main>

</div>
</div>
</div>