<!-- カリキュラムの目次(管理者側) -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>カリキュラムの目次</h1>

    <div class="basic-box">
    	<div class=" clearfix">
    		<div class="">
		    	<h3><span class="label label-default">管理者アクション</span></h3><br>
				<%= link_to "章を追加する", new_admin_curriculum_path, class: 'btn btn-primary' %>
				<%= link_to "節を追加する", new_admin_section_path, class: 'btn btn-primary' %>
				<%= link_to "課題を追加する", new_admin_task_path, class: 'btn btn-primary' %>
			</div>
    	<h3><span class="label label-default">カリキュラムの目次</span></h3>
        </div><br>
	        <table class="table ">
				<!-- カリキュラムの章の表示 -->
        		<% @pages.each do |u| %>
                <thead>
                    <tr>
                        <th>
                        	<!-- 章の名前を表示 -->
                        	第<%= u.chapter_number %>章 <%= u.chapter_title %>
                        	<!-- 章の削除ボタン -->
                        	<span class="chapter_botton">
                            <%= link_to admin_curriculum_path(u.id), method: :delete, "data-confirm" => "”OK”を選択すると章の情報が完全に削除されます。本当によろしいですか？", class: 'btn btn-danger' do %>
                            第<%= u.chapter_number %>章を削除する
                            <% end %></span>
                            <!-- 章の編集ボタン -->
                        	<span class="chapter_botton">
                            <%= link_to edit_admin_curriculum_path(u.id), class: 'btn btn-primary' do %>
                            第<%= u.chapter_number %>章を編集する
                            <% end %></span>
                        </th>
                    </tr>
                </thead>
					<!-- カリキュラムの節の表示 -->
					<% u.sections.each do |s| %>
     				<tbody>
                        <td>
                        	<!-- 節の名前を表示 -->
                        	<%= link_to admin_section_path(s.id) do %>
                        	第<%= s.section_number %>節 <%= s.section_title %>
                        	<% end %>
                        	<span class="chapter_botton">
                        	<!-- 節の削除ボタン -->
                            <%= link_to admin_section_path(s.id), method: :delete, "data-confirm" => "”OK”を選択すると節の情報が完全に削除されます。本当によろしいですか？", class: 'btn btn-danger btn-sm' do %>
                            第<%= s.section_number %>節を削除する
                            <% end %></span>
                            <!-- 節の編集ボタン -->
                        	<span class="chapter_botton">
                            <%= link_to edit_admin_section_path(s.id), class: 'btn btn-primary btn-sm' do %>
                            第<%= s.section_number %>節を編集する
                            <% end %></span>
                        </td>
	                </tbody>
                        <!-- カリキュラムの課題の表示 -->
                        <% s.tasks.each do |t| %>
                        <tbody>
                            <td>
                                <!-- 課題の名前を表示 -->
                                <%= link_to admin_task_path(t.id) do %>
                                <span>　課題<%= t.task_number %>.<%= t.task_title %></span>
                                <% end %>
                                <span class="chapter_botton">
                                <!-- 課題の削除ボタン -->
                                <%= link_to admin_task_path(t.id), method: :delete, "data-confirm" => "”OK”を選択すると課題の情報が完全に削除されます。本当によろしいですか？", class: 'btn btn-danger btn-sm' do %>
                                <%= t.task_number %>課題を削除する
                                <% end %></span>
                                <!-- 課題の編集ボタン -->
                                <span class="chapter_botton">
                                <%= link_to edit_admin_task_path(t.id), class: 'btn btn-primary btn-sm' do %>
                                <%= t.task_number %>課題を編集する
                                <% end %></span>
                            </td>
                        </tbody>
                        <% end %>
	                <% end %>
                <% end %>
            </table>
            <div class="paginate">
                <%= paginate @pages, class: "paginate" %>
            </div>
    </div>
</main>

</div>
</div>
</div>