<!-- カリキュラムの課題の詳細 -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>第<%= @task.section.curriculum.chapter_number %>章 <%= @task.section.curriculum.chapter_title %></h1>

    <div class="basic-box">
	<h3><span class="label label-default">第<%= @task.section.section_number %>節 <%= @task.section.section_title %></span></h3><br>
	<h4><span class="label label-info">課題<%= @task.task_number %>.<%= @task.task_title %></span></h4>
		<!-- 課題の画像とテキストの表示 -->
        <div class="my_recipe-box clearfix">
        	<% @task.task_contents.each do |c| %>
        	<p><%= attachment_image_tag c, :task_image, class: "my_recipe-image" %></p>
        	<%= c.task_text %>
        	<% end %>
        </div>
    </div><br>

    <!-- 戻るボタンの表示（前のページ、もしくはカリキュラムの目次に戻るボタン） -->
    <div class="back_botton">
    	<!-- 一つ前の課題番号を変数に代入する -->
	    <% back_task = @task.task_number - 1 %>
	    <% same_section = @task.section_id %>
	    <!-- 同じ章で一つ前の課題番号のレコードを取得する -->
	    <% back_page = Task.find_by(task_number: back_task, section_id: same_section) %>
	    <!-- 同じ章で一つ前の課題番号のレコードがあれば戻るボタンを表示する -->
	    <% if back_page %>
	    <%= link_to "戻る", task_path(back_page.id) , class: 'btn btn-default btn-lg' %>
	    <% else %>
	    <%= link_to "戻る", section_path(@task.section_id) , class: 'btn btn-default btn-lg' %>
	    <% end %>
	</div>
	<!-- 進むボタンの表示（次のページがあれば進むボタンを表示する） -->
    <div class="next_botton">
    	<!-- 次の課題番号を変数に代入する -->
	    <% next_task = @task.task_number + 1 %>
	    <% same_section = @task.section_id %>
	    <!-- 次の課題番号のレコードを取得する -->
	    <% next_page = Task.find_by(task_number: next_task, section_id: same_section) %>
	    <!-- 次の課題番号のレコードがあれば進むボタンを表示する -->
	    <% if next_page %>
	    <%= link_to "進む", task_path(next_page.id) , class: 'btn btn-default btn-lg' %>
	    <% end %>
	</div>
</main>

</div>
</div>
</div>