<!-- カリキュラムの節の詳細(管理者側) -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>第<%= @section.curriculum.chapter_number %>章 <%= @section.curriculum.chapter_title %></h1>

    <div class="basic-box">
	<h3><span class="label label-default">第<%= @section.section_number %>節 <%= @section.section_title %></span></h3>
		<!-- 節の画像とテキストの表示 -->
        <div class="section-text-box clearfix">
        	<% @section.section_contents.each do |c| %>
            <!-- データベースの画像とテキストの表示用(発表では使えない)
        	<p><%= attachment_image_tag c, :section_image, class: "my_recipe-image" %></p>
        	<%= c.section_text %> -->
            <!-- 発表用のカリキュラムを直接書き込む -->
             <h3><u>皆さん初めまして、cook.campへようこそ！</u></h3>
  <p class="merit">この章では、料理を学ぶことが人生でどのように役に立つのか、料理のスキルを身に付けるメリットを学習します。
  色んなメリットがある反面、料理スキルを身に付けるにはそれなりの時間と、ある程度のお金、そして少しの手間を惜しまない努力が必要です。
  それらが、料理を身に付けるメリットと比べて費用対効果に見合っているかを判断して、料理のスキルを習得するための心構えをしていただく章となります。
  cook.campとしてはもちろん料理のスキルを習得するメリットは人生に大きな価値を与えてくれると感じています。
  前置きはこのぐらいにして、早速始めましょう。それでは、cook.campの世界へ、レッツゴー！</p><br>

<h4><u>【料理のスキルを身に付けるメリット】</u></h4><br>
  <h4><u>1.経済的</u></h4>
  <p class="merit">まず一つ目のメリットは、自炊することはとても経済的だということです。一人暮らしだと自炊するとかえって高く付いてしまうと聞くことがありますが、正しい知識を身に付ければ一人暮らしであっても自炊はとっても経済的です。
  自炊と外食の比較は第3節で行いますので、ここでは一つのメリットとしてあげるだけに留めます。</p><br>

  <h4><u>2.健康的</u></h4>
  <p class="merit">二つ目は、自炊はとても健康的です。外食やお惣菜などは、濃い味にするために食塩を多く使ったり、腐らないように食品添加物を多く使用してあるものも多くあります。
  自炊をすることで新鮮な食材を選んで使用できますので、比較的安全で健康的である言えます。しかし、必ずしも自炊＝健康的というわけではありません。
  正しい栄養のバランスの知識が無ければ、自炊をしても栄養が偏ってしまうことがありますので、それらの知識は次の章で学びましょう。</p><br>

  <h4><u>3.家族や友達に喜んでもらえる</u></h4>
  <p class="merit">三つめは、家族や友達に喜んでもらえることです。料理を振舞う機会は人それぞれだと思いますが、他人に料理を振舞ってもらうというのはありがたいことですよね。
  一人暮らしだとよりありがたみを実感できると思います。人からしてもらうだけでなく、自分もしてあげることで普段お世話になっている人に喜んでもらえますので、料理ができるということは人に喜んでもらえる一つの手段を得るということでもあります。</p><br>

  <h4><u>4.料理できるってカッコ良い</u></h4>
  <p class="merit">四つ目のメリットは男性側のメリットがより大きいのかもしれません。これは例えば、多くの女性が料理がぱぱっとできる男性はかっこいいと答えています。かつ、その料理がおいしいと魅力を感じますよね。
  その料理が凝った料理である必要はありません。味や見た目、手際などがより重要です。さらにそれらのスキルは日常的にも役立ちます。
  女性であっても、料理ができることはとても魅力的です。生活力という面で頼もしさも感じます。料理のスキルここでも有用ですね。</p><br>

  <h4><u>5.一生使える</u></h4>
  <p class="merit">五つ目のメリットは、「一生使える！」です。一度身に付けたスキルは、衰えることはあっても無くなることはありません。一生自炊の恩恵を受けられるとしたら、料理スキルを身に付ける費用対効果は絶大なものだとは思いませんか？
  しかし、一生使えるというのは、正確には「おそらく一生使える」なのかもしれません。というのも、いつか一家に一台調理ロボットを持つようになったとするならば自分で調理する必要がなくなるという日もくるかもしれません。そうなれば料理スキルは必要ないかもしれませんが、それはいつになるかわからない、不確かな未来の話です。
  それよりも、自炊の恩恵を受けられる確かな未来に向かって一度、努力してみませんか？</p><br>

  <p class="merit">ここでは、上記の五つのメリットを挙げてみましたが、他にも様々なメリットがあると思います。
  たとえば、料理という共通の話題で会話が弾んだり、出来ることが増えることで自身が付いたり。
  また、「cook.campっていうサイトで料理を勉強してるんだ」なんて人に言うと、勉強頑張ってるんだなーなんて思われたりするかもしれません。
  料理にメリットが多いことをお分かり頂けたでしょうか。第一節はここで終わります。お疲れさまでした。</p><br>
             <!-- /発表用のカリキュラムを直接書き込む -->
        	<% end %>
            
        <!-- 節に課題がある場合の表示 -->
        <% task_page = Task.find_by(section_id: @section.id) %>
        <% if task_page %>
        <h3><span class="label label-info">課題リスト</span></h3>
        <div class="my_recipe-box clearfix">
        	<% @section.tasks.each do |t| %>
        		<table class="table">
        			<tbody>
        				<td>
            				<%= link_to admin_task_path(t.id) do %>課題<%= t.task_number %>.<%= t.task_title %>
            			</td>
            		</tbody>
            	</table>
            	<% end %>
        	<% end %>
    	<% end %>
        </div>
        <!-- 節の編集と削除ボタンの表示 -->
		<div class="">
	        <%= link_to 'この節を編集する', edit_admin_section_path, class: 'btn btn-primary' %>
	    </div><br>
	    <div class="">
	    	<%= link_to "この節を削除する", admin_section_path, method: :delete, "data-confirm" => "本当に削除しますか？", class: "btn btn-danger" %>
	    </div>
    </div><br>
</div>

    <!-- 戻るボタンの表示（前のページ、もしくはカリキュラムの目次に戻るボタン） -->
    <div class="back_botton">
        <!-- 一つ前の節番号を変数に代入する -->
        <% back_section = @section.section_number - 1 %>
        <% same_curriculum = @section.curriculum_id %>
        <!-- 同じ章で一つ前の節番号のレコードを取得する -->
        <% back_page = Section.find_by(section_number: back_section, curriculum_id: same_curriculum) %>
        <!-- 同じ章で一つ前の節番号のレコードがあれば戻るボタンを表示する -->
        <% if back_page %>
        <%= link_to "戻る", admin_section_path(back_page.id) , class: 'btn btn-default btn-lg' %>
        <% else %>
        <%= link_to "戻る", admin_curriculums_path , class: 'btn btn-default btn-lg' %>
        <% end %>
    </div>
    <!-- 進むボタンの表示（次のレコードが無ければ進むボタンを表示しない） -->
    <div class="next_botton">
    	<!-- 次の節番号を変数に代入する -->
	    <% next_section = @section.section_number + 1 %>
	    <% same_curriculum = @section.curriculum_id %>
	    <!-- 次の節番号のレコードを取得する -->
	    <% next_page = Section.find_by(section_number: next_section, curriculum_id: same_curriculum) %>
	    <!-- 次の節番号のレコードがあれば進むボタンを表示する -->
	    <% if next_page %>
	    <%= link_to "進む", admin_section_path(next_page.id) , class: 'btn btn-default btn-lg' %>
	    <% end %>
	</div>
</main>

</div>
</div>
</div>