<!-- マイページ -->
<!-- カレントユーザーと他ユーザーで掲載情報を分ける -->
<%= render 'layouts/list' %>

<main class="login-time">
<h1><%= @user.nickname %>さんのページ</h1>


    <div class="basic-box">
	<h3><span class="label label-default"><%= @user.sei_kanji %> <%= @user.mei_kanji %>さんの会員情報</span></h3>
    	<div class="profile-box">
    		<div class="profile-box-left">
	    		<div class="user-menu-image"><%= image_tag('background-kitchen.jpg',  class: 'user-menu-image') %></div>
	    		<p><%= @user.nickname %></p>
	    		<p><%= @user.sei_kanji %><%= @user.mei_kanji %></p>
	    		<p><%= @user.email %></p>
	    	</div>
	    	<div class="profile-box-right">
	    		<p><%= @user.introduction %></p>
	    	</div>
	    	<div class="profile-box-right-bottom">
	    		<%= link_to 'ユーザー情報を編集する', edit_user_path, class: 'btn btn-primary btn-lg' %>
	    	</div>
        </div>
        <%= link_to 'ユーザー退会手続きへ', leafe_path, class: 'btn btn-danger btn-lg' %><br>
        <h3><span class="label label-default"><%= @user.nickname %>さんのマイレシピ</span></h3>
        <% @my_recipe.each do |m| %>
	        <%= m.cooking_image %>
	        <%= m.cooking_name %>
	        <%= m.genre_name %>
	        <%= m.cooking_explanation %>
        <% end %>
    </div>
</main>

</div>
</div>
</div>