<!-- 管理者メニュー -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>管理者メニュー</h1>


    <div class="basic-box">
    	<div class=" clearfix">
    	<h3><span class="label label-default">menu</span></h3>
       </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/isorepublic-background-salad-1.jpg',  class: 'user-menu-image'), admin_curriculums_path %></div>
            <span class="user-menu-text"><u><b><%= link_to 'カリキュラム', admin_curriculums_path %></b></u><br>cook.campのカリキュラムを表示します。</span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/picography-cinema-usher-1.jpg',  class: 'user-menu-image'), admin_users_path %></div>
            <span class="user-menu-text"><u><b><%= link_to 'ユーザー情報一覧', admin_users_path %></b></u><br>ユーザー情報の一覧を表示します。</span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/school-classroom-1.jpg',  class: 'user-menu-image'), admin_inquiries_path %></div>
            <span class="user-menu-text"><u><b><%= link_to 'お問い合わせ一覧', admin_inquiries_path %></b></u><br>お問い合わせの一覧を表示します。</span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/dining-table.jpg',  class: 'user-menu-image'), admin_everyone_recipes_path %></div>
            <span class="user-menu-text"><u><b><%= link_to 'みんなのレシピ', admin_everyone_recipes_path %></b></u><br>ユーザーが公開しているレシピ一覧を表示します。</span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image"><%= link_to image_tag('/images/chickens.jpg',  class: 'user-menu-image'), admin_basic_recipes_path %></div>
            <span class="user-menu-text"><u><b><%= link_to '基本のレシピ', admin_basic_recipes_path %></b></u><br>定番料理のレシピ一覧を表示します。</span>
        </div>
        <div class=" clearfix"></div>
    </div>
</main>

</div>
</div>
</div>