<!-- 基本のレシピ -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>基本のレシピ</h1>


    <div class="basic-box">
    	<div class=" clearfix">
    	<h3><span class="label label-default">料理のジャンルを選択してください</span></h3>
       </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('chickens.jpg', class: 'user-menu-image'), basic_meat_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～お肉系のおかず～', basic_meat_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('docked-yacht-yellow-chain-1.jpg',  class: 'user-menu-image'), basic_fish_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～魚介系のおかず～', basic_fish_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('isorepublic-carrot-cucumber-1.jpg',  class: 'user-menu-image'), basic_vegetable_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～野菜系のおかず～', basic_vegetable_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('isorepublic-spaghetti-sauce-1.jpg',  class: 'user-menu-image'), basic_noodle_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～麺類～', basic_noodle_path %></b></u></span>
        </div>
        <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('easter-eggs-bowl.jpg',  class: 'user-menu-image'), basic_rice_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～ご飯もの～', basic_rice_path %></b></u></span>
        </div>
                <div class="user-menu-item clearfix">
            <div class="user-menu-image">
                <%= link_to image_tag('isorepublic-pumpkin-soup-bowl-1.jpg',  class: 'user-menu-image'), basic_soup_path %>
            </div>
            <span class="user-menu-text"><u><b><%= link_to '～汁物～', basic_soup_path %></b></u></span>
        </div>
        <div class=" clearfix"></div>
    </div>
</main>

</div>
</div>
</div>