<!-- 基本のレシピ詳細 -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>基本のレシピ詳細</h1>


    <div class="basic-box">
	<h3><span class="label label-default">基本のレシピ詳細</span></h3>

                <div class="my_recipe-box clearfix">
    	    		<div class="my_recipe-box-left">
			    		<div class="my_recipe-image">
			    			<p><%= attachment_image_tag @basic_recipe, :cooking_image, fallback: "/images/no_image.png", class: "my_recipe-image" %></p>
			    		</div><br>
			    	</div>
			    	<div class="my_recipe-box-right">
			    		<p><b><%= @basic_recipe.cooking_name %></b></p>
			    		<p><%= @basic_recipe.genre_name %></p>
			    		<p>:<%= @basic_recipe.cooking_explanation %></p>
			    		<!-- 発表用は直接ビューに書き込む -->
			    	    <!-- <h4><材料></h4>
			    	    	<p><%= @basic_recipe.ingredient %></p> -->
			    	    	<!-- 発表用のレイアウト -->
							<table class="table">
								<thead>
									<tr>
										<th>【材料】</th>
										<th align="right">(1人前)</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>鶏モモ肉</td>
										<td align="right">150g</td>
									</tr>
									<tr>
										<th>(下味)</th>
										<td></td>
									</tr>
									<tr>
										<td>おろし生姜(チューブでもOK)</td>
										<td align="right">小さじ1</td>
									</tr>
									<tr>
										<td>おろしにんにく(チューブでもOK)</td>
										<td align="right">小さじ1</td>
									</tr>
									<tr>
										<td>料理酒</td>
										<td align="right">大さじ1</td>
									</tr>
									<tr>
										<td>醤油</td>
										<td align="right">大さじ1/2</td>
									</tr>
									<tr>
										<td>ごま油</td>
										<td align="right">小さじ1</td>
									</tr>
									<tr>
										<td>鶏ガラスープの素</td>
										<td align="right">小さじ1/4</td>
									</tr>
									<tr>
										<td>塩コショウ</td>
										<td align="right">小さじ1/2</td>
									</tr>
									<tr>
										<td>片栗粉</td>
										<td align="right">大さじ1.5</td>
									</tr>
									<tr>
										<td>揚げ油</td>
										<td align="right">300~400ml程度</td>
									</tr>
								</tbody>
							</table>
							<!-- /発表用のレイアウト -->

			    	    <!-- 発表用は直接ビューに書き込む -->
			    	    <!-- <h4><作り方></h4>
			    	    	<p><%= @basic_recipe.how_to_cook %></p> -->
			    	    	<!-- 発表用のレイアウト -->
							<table class="table">
								<thead>
									<tr>
										<th>【作り方】</th>
									</tr>
								</thead>
								<tbody>
									<tr>
										<td>1．鶏モモ肉をフォークで数か所刺し、一口大に切ります。</td>
									</tr>
									<tr>
										<td>2．ボウルに鶏もも肉と下味の材料を入れ、よく揉みこみます。</td>
									</tr>
									<tr>
										<td>3．ボウルにラップをして、冷蔵庫で20分ほど漬け込みます。</td>
									</tr>
									<tr>
										<td>4．片栗粉を全体にまぶします。</td>
									</tr>
									<tr>
										<td>5．フライパンに3㎝程の揚げ油を注ぎ、180℃に熱します。</td>
									</tr>
									<tr>
										<td>6．片栗粉をまぶした鶏もも肉を油の中へ入れ、4分ほど揚げます。</td>
									</tr>
									<tr>
										<td>7．表面がカリッとして中まで火が通ったら、油から取り出して油を切ります。</td>
									</tr>
									<tr>
										<td>8．お皿に盛りつけて完成です。</td>
									</tr>
								</tbody>
							</table>
			    			<!-- 発表用のレイアウト -->
			    	</div>
			    </div>

    <!-- 作りたい料理リストに追加 
	  <%= form_for @want_to_cook, url: want_to_cooks_path, method: :post do |f| %>
      <%= f.hidden_field :basic_recipe_id, value: @basic_recipe.id %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.submit '作りたい料理リストに追加する', :my_recipe_id => nil, class: "btn btn-primary" %>
      <% end %> -->
    </div><br>
</div>
    <%= link_to "戻る", :back , class: 'btn btn-default' %>
</main>

</div>
</div>
</div>