<!-- スキル管理ノート -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>スキル管理ノート</h1>

    <div class="basic-box">
<!-- レーダーチャート部分 -->
<h3><span class="label label-default">レーダーチャート</span></h3><br>
  <canvas id="myRaderChart"></canvas>
  <!-- CDN -->
　<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.bundle.js"></script>

  <script>
    var ctx = document.getElementById("myRaderChart");
    var myRadarChart = new Chart(ctx, {
        type: 'radar',
        data: {
            labels: ["料理の味", "調理の手際", "課題の達成度", "カリキュラムの理解度", "料理の盛り付け"],
            datasets: [{
                label: gon.nickname,
                data: gon.bardata,
                backgroundColor: 'RGBA(75,195,150, 0.5)',
                borderColor: 'RGBA(75,195,150, 1)',
                borderWidth: 1,
                pointBackgroundColor: 'RGB(46,106,177)'
            },]
        },
        options: {
            title: {
                display: true,
                text: gon.nickname + 'の料理スキル'
            },
            scale:{
                ticks:{
                    suggestedMin: 0,
                    suggestedMax: 5,
                    stepSize: 1,
                    callback: function(value, index, values){
                        return  value +  ''
                    }
                }
            }
        }
    });
    </script>
<!-- /レーダーチャート部分 -->

<!-- 自己採点リスト -->
	<h3><span class="label label-default">自己採点リスト</span></h3><br>
        <% @pages.each do |m| %>
        <h3><span class="label label-info">課題<%= m.task.task_number %>.<%= m.task.task_title %></span></h3>
        <div class="my_recipe-box clearfix">
    		<div class="skill_note-left">
	    		<div class="my_recipe-image">
	    			<%= link_to(task_path(m.task_id)) do %>
	    			<p><%= attachment_image_tag m, :cooking_image, class:'img-fluid', fallback: "/images/no_image.png", class: "my_recipe-image" %></p>
	    			<% end %>
	    		</div><br>
		<!-- 総合評価(それぞれの評価の平均値) -->
		<% total = (m.taste_evaluation + m.look_evaluation + m.finesse_evaluation) / 3 %>
		<h3>総合評価：<%= total.round(2) %>点</h3><br>

          <h4>料理の味：<%= m.taste_evaluation %>点</h4>
        <!--星評価-->
         <div id="star1<%= m.id %>"></div>
          <script>
          $('#star1<%= m.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= m.taste_evaluation %>,
          });
          </script>
        <!--/星評価-->
          <h4>料理の盛付け：<%= m.look_evaluation %>点</h4>
        <!--星評価-->
         <div id="star2<%= m.id %>"></div>
          <script>
          $('#star2<%= m.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= m.look_evaluation %>,
          });
          </script>
        <!--/星評価-->
          <h4>調理の手際：<%= m.finesse_evaluation %>点</h4>
        <!--星評価-->
         <div id="star3<%= m.id %>"></div>
          <script>
          $('#star3<%= m.id %>').raty({
            size: 36,
            starOff:  '<%= asset_path('star-off.png') %>',
            starOn : '<%= asset_path('star-on.png') %>',
            starHalf: '<%= asset_path('star-half.png') %>',
            half: true,
            readOnly: true,
            score: <%= m.finesse_evaluation %>,
          });
          </script>
        <!--/星評価-->
	    	</div>
	    	<div class="skill_note-right">
	    		<p><作成日></p>
	    		<p><%= m.created_at.strftime('%Y年%m月%d日 %H時%M分') %></p>
	    		<p><注意点></p>
	    		<p><%= m.important_point %></p>
	    		<p><改善点></p>
	    		<p><%= m.improve_point %></p>
	    		<p><全体の感想></p>
	    		<p><%= m.feeling %></p>
	    	</div>
	    	<div class="skill_note-bottom">
	    		<p><%= link_to '編集する', edit_skill_note_path(m.id), class: 'btn btn-primary btn-lg btn-block' %></p>
	    	</div>
	    </div>
        <% end %>
        <div class="paginate">
            <%= paginate @pages, class: "paginate" %>
        </div>
    </div>
<!-- /自己採点リスト -->
</main>

</div>
</div>
</div>




