<!-- ユーザー詳細(管理者側) -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1><%= @user.nickname %>さんのページ</h1>
    <div class="basic-box">
	<h3><span class="label label-default"><%= @user.sei_kanji %> <%= @user.mei_kanji %>さんの会員情報</span></h3>
    	<div class="profile-box clearfix">
    		<div class="profile-box-left">
	    		<div class="user-page-image"><%= attachment_image_tag @user, :profile_image, fallback: "/images/no_image.png", class: "user-page-image" %></div>
	    		<h4><%= @user.nickname %></h4>
	    		<p><%= @user.sei_kanji %><%= @user.mei_kanji %></p>
	    		<p><%= @user.email %></p>
	    	</div>
	    	<div class="profile-box-right">
	    		<p class="introduction-text"><%= @user.introduction %></p>
	    	</div>
	    	<div class="profile-box-right-bottom">
	    		<%= link_to 'ユーザー情報を編集する', edit_admin_user_path, class: 'btn btn-primary btn-lg' %>
	    	</div>
        </div>
        <div class="button-box">
	        	<p><%= link_to "論理削除する", admin_user_path,  method: :delete, "data-confirm" => "本当に論理削除しますか？",class:'btn-lg btn-danger' %></p><br>
	        	<p>※論理削除をするとユーザーログインができなくなり、削除されたように見せることができます。<br>データを残すことができるので復元が容易です。</p><br>
	        	<p><%= link_to "物理削除する", admin_really_destroy_path,  method: :delete, "data-confirm" => "本当に物理削除しますか？",class:'btn-lg btn-danger' %></p><br>
	        	<p>※ユーザー情報をデータベース上から削除します。<br>この操作をするとデータを復元することはできません。</p><br>
	        	<p><%= link_to "論理削除を取り消す", admin_restore_path,  method: :delete, "data-confirm" => "本当に論理削除を取り消しますか？",class:'btn-lg btn-primary' %></p><br>
	        	<p>※論理削除されたユーザーを復元します。</p><br>
	    </div>
    </div>
        <%= link_to "戻る", :back, class: 'btn btn-default' %>
</main>

</div>
</div>
</div>