<!-- マイレシピ -->
<%= render 'layouts/list' %>

<main class="login-time-box">
<h1>マイレシピ</h1>


    <div class="basic-box">
	<h3><span class="label label-default"><%= current_user.nickname %>のマイレシピ</span></h3>

                <% @my_recipe.each do |m| %>
                <div class="my_recipe-box clearfix">
    	    		<div class="my_recipe-box-left">
			    		<div class="my_recipe-image">
			    			<%= link_to(my_recipe_path(m.id)) do %>
			    			<p><%= attachment_image_tag m, :cooking_image, fallback: "no_image.png", class: "my_recipe-image" %></p>
			    			<% end %>
				    		<p><%= link_to 'このレシピの詳細を見る', my_recipe_path(m.id), class: 'btn btn-primary' %></p>
			    		</div><br>
			    	</div>
			    	<div class="my_recipe-box-right">
			    		<p><%= m.cooking_name %></p>
			    		<p><%= m.genre_name %></p>
			    		<p><%= m.cooking_explanation %></p>
			    		<p><%= m.user.nickname %></p>
			    		<% if m.publishment == true %>
			    	      <p class="flash-notice">※このレシピは公開されています</p>
			    	    <% else %>
			    	      <p class="flash-warning">※このレシピは非公開です</p>
			    	    <% end %>
			    	</div>
			    </div>
                <% end %>

            <div class="paginate">
                <%= paginate @pages, class: "paginate" %>
            </div>

	<div class="">
        <%= link_to 'マイレシピを追加する', new_my_recipe_path, class: 'btn btn-default btn-lg' %>
    </div><br>
    <div class="">
        <%= link_to '作りたい料理リスト', want_to_cook_path(current_user.id), class: 'btn btn-default btn-lg' %>
    </div><br>
    </div>
</main>

</div>
</div>
</div>