<!-- サイドバー用パーシャル -->
<!-- リンク先を管理者とユーザーで分ける -->
<!-- ランキングの表示 -->

<div class="container-fluid">
    <div class="row">
    <div class="col-sm-3 sidebar">
        <ul class="nav nav-sidebar">
            <% if user_signed_in? %>
        	<h3><span class="label label-default">カリキュラムの目次</span></h3><br>
	        <table class="table ">
        	    <% chapter_list = Curriculum.all %>
				<!-- カリキュラムの章の表示 -->
        		<% chapter_list.each do |u| %>
                <thead>
                    <th>
                       	第<%= u.chapter_number %>章 <%= u.chapter_title %>
                    </th>
                </thead>
					<!-- カリキュラムの節の表示 -->
					<% u.sections.each do |s| %>
     				<tbody>
                        <td>
                        	<%= link_to section_path(s.id) do %>
                        	第<%= s.section_number %>節 <%= s.section_title %>
                        	<% end %>
                        </td>
	                </tbody>
                        <!-- カリキュラムの課題の表示 -->
                        <% s.tasks.each do |t| %>
                        <tbody>
                            <td>
                                <%= link_to task_path(t.id) do %>
                                <span>　課題<%= t.task_number %>.<%= t.task_title %></span>
                                <% end %>
                            </td>
                        </tbody>
                        <% end %>
	                <% end %>
                <% end %>
            </table>
            <% end %>
            <% if admin_user_signed_in? %>
            <h3><span class="label label-default">カリキュラムの目次</span></h3><br>
            <table class="table ">
                <% chapter_list = Curriculum.all %>
                <!-- カリキュラムの章の表示 -->
                <% chapter_list.each do |u| %>
                <thead>
                    <th>
                        第<%= u.chapter_number %>章 <%= u.chapter_title %>
                    </th>
                </thead>
                    <!-- カリキュラムの節の表示 -->
                    <% u.sections.each do |s| %>
                    <tbody>
                        <td>
                            <%= link_to admin_section_path(s.id) do %>
                            第<%= s.section_number %>節 <%= s.section_title %>
                            <% end %>
                        </td>
                    </tbody>
                        <!-- カリキュラムの課題の表示 -->
                        <% s.tasks.each do |t| %>
                        <tbody>
                            <td>
                                <%= link_to admin_task_path(t.id) do %>
                                <span>　課題<%= t.task_number %>.<%= t.task_title %></span>
                                <% end %>
                            </td>
                        </tbody>
                        <% end %>
                    <% end %>
                <% end %>
            </table>
            <% end %>
        </ul>
    </div>
    <div class="col-sm-9  main">