
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-2 col-md-3"></div>
    <div class="col-xs-8 col-md-6 main">
<div class="registration">

<h2>cook.campを始めよう！</h2></br>

<p class="form-text" style="text-decoration: underline">新規会員登録</p><br>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <p class="form-text">氏名</p>
  <div class="small_field">
    <%= f.text_field :sei_kanji, autofocus: true, placeholder: "姓を入力してください", class:"form-control"  %>
    <%= f.text_field :mei_kanji, autofocus: true, placeholder: "名を入力してください", class:"form-control" %>
  </div><br>
<p class="form-text">カナ</p>
  <div class="small_field">
    <%= f.text_field :sei_kana, autofocus: true, placeholder: "セイを入力してください", class:"form-control" %>
    <%= f.text_field :mei_kana, autofocus: true, placeholder: "メイを入力してください", class:"form-control" %>
  </div><br>
   <div class="normal_field">
    <p class="form-text">ニックネーム</p>
    <%= f.text_field :nickname, autofocus: true, placeholder: "ニックネームを入力してください", class:"form-control" %>
  </div><br>
  <div class="normal_field">
    <p class="form-text">メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control", placeholder: "メールアドレスを入力してください"%>
  </div><br>

  <div class="normal_field">
    <p class="form-text">パスワード</p>
    <%= f.password_field :password, autocomplete: "new-password", class:"form-control", placeholder: "パスワードを入力してください" %>
  </div><br>

  <div class="normal_field">
    <p class="form-text">パスワード(確認用)</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class:"form-control", placeholder: "パスワードを入力してください" %><br>
  </div>

  <div class="actions">
    <%= f.submit "新規登録", class:"btn btn-primary" %>
  </div><br>
<% end %>

<p class="glyphicon glyphicon-record" aria-hidden="true">アカウントをお持ちの方は<a href="/users/sign_in">ログイン</a>へ</p>
